<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductionScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProductionScheduler.Properties.Settings.MACOLATEST"
            connectionString="Data Source=MACOLA;Initial Catalog=data_02;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProductionScheduler.Properties.Settings>
            <setting name="connection_string" serializeAs="String">
                <value>Data Source=MACOLA;Initial Catalog=data_01;Integrated Security=True</value>
            </setting>
        </ProductionScheduler.Properties.Settings>
    </userSettings>
</configuration>